h1{
    color: blue;
    background-color: black;
    text-align: center;
}
h2{
    color: green;
    background-color: black;
    text-align: center;
}
.special{
    color: red;
}
img{
    width: 50%;
}
.tik{
    font-size: large;
}
section{
    border-width: 2px;
    border-style: dotted;
    border-color: black;
    background-color: antiquewhite;
    text-align: center;
}
li{
    font-size: x-large;
}
.flexbox{
    display: flex;
    justify-content: space-between;

}